body{
    margin: 0px;
}
/*header part*/
#header{
    height: 70vh;
    background-image: url(images/header.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.7;
    font-family: Arial, Helvetica, sans-serif;
    z-index: 1;
}
/*hortizontal list*/
.list{
    list-style: none;
    text-align: center;
}

.list li{
    display: inline-block;
    margin: 8px;
}

.nav-menu li a{
    text-decoration: none;
    color: #7bc990;
    font-size: larger;
    font-weight: bold;
    transition: color 0.7s;
}

.nav-menu li a:hover{
    color: aquamarine;
    border-bottom: 1px solid rgb(169, 231, 210);
    transition: ease-in-out;
  
}
/*icons*/
.icons li a i{

    font-size: x-large;
    color: rgb(236, 195, 233);
    border-radius: 50%;
    padding: 10px;
    
}
.icons li a i:hover{
    color: rgb(150, 173, 126);
    box-shadow: 0px 0px 4px 2px rgb(197, 169, 169);
    border-bottom: none;
    transition: none;
    
}

#name-div{
    margin-top: 80px;
}
#name{
    color: #8fc2db;
    font-weight: bolder;
    font-size: 40px;
    margin-left: 500px;
    letter-spacing: 3px;
    
}
#about{
    height: auto;
    width: 100%;
    position: relative;

}

section{
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 75vh;
    align-items: center;
}
/*for profile image*/
#image{
    height: 15rem;
    width: 15rem;
    margin: auto;
    margin-top: -100px;
}
#image img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    
    box-shadow: 0px 0px 4px 6px rgb(221, 192, 192);
    
}

#about p{
    text-align: justify;
    margin-left: 20rem;
}
/*section part*/
section:nth-child(2n+1){
    background-color: white;
}

section:nth-child(2n){
    background-color: rgb(224, 233, 238);
}
.section-heading{
    /*width: 3rem;*/
    padding: 20px 10px 10px;
    font-weight: 400;
   /* margin: 10px auto;
    height: 30%;*/

}

.section-heading span{
    color: blue;
    display: inline-block;
    font-size: 2rem;
    margin-right: .5rem;
}
/*skill section*/
.skill-port-info{
    width: 70%;
    height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /*border: 1px solid black;*/
}
.skill-element{
    height: 2rem;
    width: 10rem;
    background-color: rgb(243, 234, 234);
    border-radius: 5rem;
    /*margin: 4rem;*/
}
#c{

    width: 6rem;
    background-color: lightgreen;
    

}
.progress{
    display: inline-block;
    height: inherit;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(80, 73, 73);
    border-bottom-left-radius: inherit;
    border-top-left-radius: inherit;
    padding-left: .9rem;
}
#java{
    width: 8rem;
    background-color: rgb(141, 71, 141);
    
}

#html{

    width: 7.5rem;
    background-color: rgb(177, 10, 10);
    
    
}

#dbms{

    width: 4rem;
    background-color: palevioletred;

}

#android{
    
    width: 3rem;
    background-color:rgb(214, 105, 159);

    
}

#python{
    
    width: 3rem;
    background-color:rgb(105, 214, 141);
    
    
}

#OS{
    
    width: 3rem;
    background-color:rgb(162, 105, 214);
    
    
}

#data-structure{
    
    width: 3rem;
    background-color:rgb(235, 143, 143);
    
    
    
}
#js{
    width: 3rem;
    background-color: chocolate;
}
#css{
    width: 7rem;
    background-color: rgb(43, 219, 131);
}

/*portfolois section*/
.port-element img{ 

    height: 200px;
    width: 200px;
    display: inline-block;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


/*contact section*/
#contact{

    /*width: 100%;
    height: 75vh;
    
    background-image: linear-gradient(to top right,red,purple );
    display: flex;
    flex-wrap: wrap;

    flex-direction: row;
    display: inline-block;*/

    background-image: linear-gradient(to top right,red,purple );

}
#our-details{
    display: inline-block;
}
#your-details{
    display: inline-block;
}

/*education section*/
#education-section{
    width: 70%;
    height: 75vh;
    border: 1px solid black;
    position: relative;
}

.education-block
{
    width: 48%;
    height: 30%;
    margin: 5px;
    border: 1px solid black;
    position: relative;
}

.education-block:nth-child(2n){
    margin-left: 51.2%;
}
.divider{
    height: 50vh;
    width: 0px;
    border-left: 3px dashed lightgray;
    position: absolute;
    margin-left: 50%;
    top: 5%;
    z-index: 1;
}

.divider-icon{
    transform: rotate(90deg);
    top: 30%;
    position: sticky;
    color: blue;
    z-index: 2;
}
.education-block:nth-child(2n+1)::after{
    content: " ";
    height: .5rem;
    right: -4%;
    width: .5rem;
    position: absolute;
    border-radius: 50%;
    background-color: blueviolet;
    top: 20%;
    z-index: 2;
}

.education-block:nth-child(2n)::before{
    content: " ";
    height: .5rem;
    left: -3%;
    width: .5rem;
    position: absolute;
    border-radius: 50%;
    background-color: blueviolet;
    top: 20%;
    z-index: 2;
}

.field{
    border-bottom: 2px solid black;
}